<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AhmedRiyadhApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:exported="false"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".ui.activity.OrderDetailsActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.activity.admin.AdminActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.activity.ChatActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.activity.OrdersActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.activity.WishListActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.activity.CheckoutActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.ViewAllProductsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.ResetPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.PostDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.activity.PostActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.activity.ProductDetailsActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.activity.CategoriesProductActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.activity.DashboardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.Dashboard"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ActivityWebView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.SplashTheme"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".notifications.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>